__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

logs/
site-packages/
venv/

# Environment files with secrets
.env
.env.local
.env.development
.env.production

# Visual Studio / VS Code
.vs/
.vscode/settings.json

appsettings.Development.json